version: "3"
services:
  docker-mysql:
    image: mysql:5.7
    environment:
        - MYSQL_ALLOW_EMPTY_PASSWORD=1
        - MYSQL_ROOT_PASSWORD=
        - MYSQL_DATABASE=people
        - MYSQL_USER=admin
        - MYSQL_PASSWORD=admin123
    ports:
      - 3308:3306
  people:
    image: docker_people
    build:
      context: ../people
      dockerfile: ./Dockerfile
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://docker-mysql:3306/people?autoReconnect=true&useSSL=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=
    depends_on:
      - docker-mysql
    ports:
      - 8081:8081
    volumes:
      - /home/bobby/workspace/excercise/people/csv:/home/bobby/shared/csv/
  history:
    build:
      context: ../history
      dockerfile: ./Dockerfile
    ports:
      - 8082:8082
    depends_on:
      - people
  data:
    build:
      context: ../data
      dockerfile: ./Dockerfile
    ports:
      - 8083:8083
    depends_on:
      - people
